*.jpg -filter -diff -merge
*.jpeg -filter -diff -merge
*.png -filter -diff -merge
*.ply -filter -diff -merge
*.pt -filter -diff -merge
*.pth -filter -diff -merge
*.ckpt -filter -diff -merge
*.pkl -filter -diff -merge
*.bin -filter -diff -merge
*.h5 -filter -diff -merge
*.hdf5 -filter -diff -merge
*.npz -filter -diff -merge
*.npy -filter -diff -merge
